<div *ngIf="isShowForm">
  <input placeholder="Vietnamese" [(ngModel)]="newVn" />
  <input placeholder="English" [(ngModel)]="newEn" />
  <br /><br />
  <select [(ngModel)]="filterStatus">
      <option value="XEM_TAT_CA">Xem tất cả</option>
      <option value="XEM_DA_NHO">Xem từ đã nhớ</option>
      <option value="XEM_CHUA_NHO">Xem từ chưa nhớ</option>
  </select>
  <button (click)="addWord();">Thêm từ mới!</button>
</div>
<button (click)="isShowForm = true" *ngIf="!isShowForm">Thêm từ mới</button>
<div *ngFor="let word of arrWords" class="word">
  <div class="word" *ngIf="getShowStatus(word.memorized)">
    <h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red' }">
      {{ word.en }}
    </h4>
    <p>{{ word.vn }}</p>
    <button (click)="removeWord(word.id);">Xóa</button>
    <button (click)="word.memorized = !word.memorized">
      {{ word.memorized ? 'chưa thuộc' : 'đã thuộc' }}</button>
  </div>
</div>